{% extends 'base.html' %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td>Movie Name</td>
            <td><input type="text" name="name" id=""></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" name="desc" id=""></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="file" name="img" id=""></td>
        </tr>
        <tr>
            <td>Year</td>
            <td><input type="text" name="year" id=""></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>


</form>




{% endblock content %}